body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: linear-gradient(135deg, #1F62CB, #3A7BD5, #6A9FE8, #8BAEFB);
	margin: 0;
	padding: 0;
}

.todo-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	max-width: 800px;
	margin: auto;
}

.todo-item {
	background-color: #C5E1E5;
	border-radius: 6px;
	padding: 7px;
	padding-left: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	transition: 0.3s ease-in-out;
}

.todo-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	border-radius: 6px;
	transition: background 0.3s;
}

.note-title {
	flex-grow: 1;
	font-size: 14px;
	font-weight: 700;
	color: #34495e;
	margin-left: 10px;
}

.btn-actions {
	display: flex;
	gap: 8px;
}

.action-btn {
	padding: 8px 12px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 14px;
	transition: 0.3s;
}

.btn-edit {
	background-color: #27ae60;
	color: #fff;
}

	.btn-edit:hover {
		background-color: #219150;
		color: #fff;
	}

.btn-details {
	background: #3498db;
	color: #fff;
}

	.btn-details:hover {
		background: #2980b9;
	}

.btn-delete {
	background-color: #1D1BA3;
	color: #fff;
}

	.btn-delete:hover {
		background-color: #c0392b;
		color: #fff;
	}

.add-todo-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px; /* Yuvarlak buton için genişlik */
	height: 50px; /* Yuvarlak buton için yükseklik */
	font-size: 1.5rem;
	color: #fff;
	background-color: #FFA500;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 20px auto;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

	.add-todo-btn:hover {
		background-color: #FF8C00;
		color: #fff;
	}

	.add-todo-btn i {
		margin: 0;
	}


.todo-description {
	display: none;
	padding: 12px;
	border-top: 1px solid #ddd;
	background: #C5E1E5;
	border-radius: 6px;
	margin-top: 5px;
}


.note-description {
	font-size: 14px;
	color: #34495E;
	margin-top: 5px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	max-width: 100%;
}
