@{
    ViewBag.Title = "";
}

<link href="~/Content/css-folder/home/index.css" rel="stylesheet" type="text/css" />

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <div class="content">
        <h1>TODO LIST WEBSITE</h1>
        <p>Let's start exploring the TODO LIST site where you can create new tasks!</p>
        <a href="~/Todo/Create" class="btn">Create New Task ≫</a>
    </div>

</body>
</html>

