body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: linear-gradient(135deg, #1E3A8A, #00AEEF, #00D084);
	height: 100vh;
	display: block;
	justify-content: center;
	align-items: center;
}

.register-page {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-text .lets-text {
	color: #0C9ADF;
	font-weight: 400;
	font-size: 45px;
	text-align: left;
	margin-bottom: -25px;
}

.title-text .join-text {
	color: #1487CE;
	font-weight: bold;
	font-size: 45px;
	text-align: left;
}

.form-horizontal {
	background-color: #fff;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	max-width: 500px;
	width: 100%;
}

.form-group {
	margin-bottom: 20px;
}

.control-label {
	font-size: 12px;
	font-weight: 500;
	color: #333;
	display: block;
	margin-bottom: 5px;
	text-align: left;
}

.form-control {
	border-radius: 2px;
	padding: 7px 14px;
	border: 1px solid #ccc;
	width: 100%;
	font-size: 12px;
	margin-top: 5px; /* Add space between label and input */
}

	.form-control:focus {
		border-color: #007bff;
		box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
	}

.sign-in {
	text-align: left;
	font-size: 10px;
	font-weight: 500;
	color: #E5E5E5;
	letter-spacing: 2px;
	margin-top: -10px;
	margin-bottom: 25px;
}

	.sign-in a {
		color: #535FDC;
		font-weight: 500;
		text-decoration: none;
		display: inline-block;
		transition: all 0.3s ease;
	}

		.sign-in a:hover {
			color: #0056b3;
			font-weight: bold;
			transform: scale(1.1);
		}

.btn-container {
	display: flex;
	justify-content: left;
	align-items: flex-start;
	margin-bottom: 30px;
}

.btn-signup {
	background-color: #177CC4;
	color: #fff;
	padding: 5px 35px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 12px;
}

	.btn-signup:hover {
		background-color: #05C4A9;
		color: #fff;
	}

.input-group {
	position: relative;
	width: 100%;
}

.input-group-append {
	position: absolute;
	top: 50%;
	right: 10px;
	padding-top: 3px;
	transform: translateY(-50%);
	z-index: 10;
	display: flex;
	align-items: center;
}

	.input-group-append .btn {
		background: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
	}

.input-group .fa-eye,
.input-group .fa-eye-slash {
	font-size: 14px;
	color: #888;
}

.social-media-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 18px;
	margin-bottom: -20px;
}

.follow-text {
	font-size: 9px;
	font-weight: 700;
	color: #959595;
	letter-spacing: 2px;
	margin: 0;
	align-self: center;
}

.btn-social {
	font-size: 14px;
	font-weight: 700;
	color: #959595;
	transition: transform 0.3s ease;
}

	.btn-social:hover {
		transform: scale(1.5);
	}

.form-control::placeholder {
	color: #BDBDBD;
	font-size: 10px;
}

.logo img {
	width: 80px;
	height: auto;
	margin-bottom: 30px;
}
