body {
	background: linear-gradient(135deg, #f7f7f7, #ebebeb);
	font-family: Arial, sans-serif;
}

.category-container {
	padding: 20px;
	max-width: 600px;
	margin: 0 auto;
}

.category-title {
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}

.category-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

form {
	width: 100%;
}

.category-item {
	width: 100%;
	border: none;
	background: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 12px 15px;
	padding-right: 20px;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, transform 0.2s ease;
	text-align: left;
}

	.category-item:hover {
		background-color: #fff;
		transform: scale(1.02);
	}

.category-name {
	font-size: 15px;
	font-weight: 500;
	color: #333;
	flex-grow: 1;
}

.note-count {
	font-size: 14px;
	font-weight: 400;
	color: #d6d6d6;
	padding-left: 10px;
}

.create-category-item {
	text-decoration: none;
	padding: 15px;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, background-color 0.3s ease;
}

	.create-category-item:hover {
		background-color: #fff;
		transform: scale(1.04);
	}

.create-category-link {
	text-decoration: none;
	color: #333;
	font-size: 14px;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

	.create-category-link i {
		font-size: 14px;
		color: #fff;
		background-color: #FF8F01;
		border-radius: 50%;
		padding: 6px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	.create-category-link span {
		font-size: 12px;
		font-weight: 500;
		color: #333;
		padding-top: 3px;
	}
