
.navbar {
    background-color: #476368 !important;
    padding: 8px 16px;
    border-bottom: 2px solid #fff;
}

.navbar-brand {
    font-size: 18px;
    font-weight: bold;
    color: #fff !important;
}

.navbar-toggler {
    border: none;
}

.navbar-nav li {
    margin-left: 12px;
}

    .navbar-nav li a {
        font-size: 14px;
        color: #fff !important;
        text-decoration: none;
        padding: 12px;
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: 4px;
    }

        .navbar-nav li a:hover {
            color: #fff;
            text-decoration: none;
            background-color: #6D96AE;
        }

.navbar-collapse {
    justify-content: flex-end;
}

